[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord = "*"
dotenv = "*"
wikipedia = "*"
youtube-search = "*"
python-dotenv = "*"
google-search = "*"

[requires]
python_version = "3.8"
