discord~=2.0
python-dotenv==0.19.2
google~=3.0.0
wikipedia~=1.4.0
youtube-search==2.1.0
numpy~=1.22.1
nltk~=3.5
HanTa==0.2.0
IMDbPY>=2020.09.20
selenium==4.1.0
matplotlib~=3.5.1
pandas==1.4.0
wolframalpha~=5.0.0